*{
    -mfx-main: #00ABD6;
    -fx-text-fill: #004354;
    -mfx-auto-clip: true;
    -fx-icon-color: #004354;
    -mfx-ripple-color:#94EAFFAA;
}

.custom-font{
    -fx-font-family: "Source Han Serif CN Medium";
    -fx-fill: #004354;
}

/********************
Button 按钮
********************/

.custom-button{
    -fx-font-family: "Source Han Serif CN Medium";
    -fx-background-color: #fffa;
    -fx-background-radius: 6;
    -fx-border-width: 0.5;
    -fx-border-color: #00313D;
    -fx-border-radius: 6;
    -fx-font-size:15;
}

.custom-button .mfx-ripple-generator{
    -mfx-ripple-color:#94EAFFAA;
}

/********************
Text Filed 文本输入框
********************/

.custom-text-field {
    -fx-font-family: "Source Han Serif CN Medium";
    -fx-font-size: 14;
}

.custom-text-field{
    -fx-border-color: #00313D;
    -fx-border-width: 0.5;
    -fx-background-color: #fffa;

}

.custom-text-field .floating-text {
    -fx-text-fill: #aaa;
    -fx-background-color: transparent;
    -fx-font-family: "Source Han Serif CN Medium";
    -fx-font-size: 13;
}

.custom-text-field .text-field {
    -fx-highlight-fill: #94EAFF44; /* Selected text highlight */
}

.custom-text-field:focus-within {
    -fx-border-color: #00ABD6AA;
    -fx-border-insets: -0.5;
    -fx-border-width: 1;
}


/********************
Combo Box 多选框
********************/

.mfx-combo-box .caret .mfx-ripple-generator {
    -mfx-ripple-color: rgba(41, 212, 255, 0.1);
}

.mfx-combo-box-cell {
    -mfx-hover: rgba(41, 212, 255, 0.1);
    -mfx-selected: rgba(41, 212, 255, 0.2);
}
.mfx-combo-box-cell .data-label {
    -fx-font-family: "Source Han Serif CN Medium";
}


/********************
Table 歌曲表格
********************/
.mfx-table-view{
    -fx-font-family: "Source Han Serif CN Medium";
    -fx-font-size: 15;
}

.mfx-table-row {
    -fx-background-color: transparent;
}

.mfx-table-row:hover {
    -fx-background-color: #29D4FF22;
}

.mfx-table-row:selected {
    -fx-background-color: #29D4FF44;
}

.mfx-table-row .mfx-ripple-generator {
    -mfx-ripple-color: #FFF6;
}

.mfx-table-column {
    -fx-border-color: transparent;
}

.mfx-table-column:hover{
    -fx-border-color: transparent;
}


/********************
Slider 进度条
********************/

#playSlider {
    -mfx-main-color: rgb(41, 212, 255,0.84);
    -mfx-main-color-hover: rgba(41, 212, 255, 0.1);
    -mfx-main-color-pressed: rgba(41, 212, 255, 0.3);
    -mfx-disabled-color: rgb(158, 158, 158);
}

#playSlider .track{
    -fx-fill: #00CCFF22;
}

#playSliderPopupContent {
    -fx-background-color: #C2F2FF88;
    -fx-background-radius: 6;
}

#playSliderPopupText {
    -fx-font-family: "Source Han Serif CN Medium";
    -fx-font-size: 13;
    -fx-text-fill: #29D4FF;
}

#playSliderPopupCaret {
    -mfx-color: rgba(194, 243, 255, 0.42);
}

/********************
Tooltip 悬浮提示
********************/

.mfx-tooltip .container {
    -fx-background-color: rgba(255,255,255,0.95);
    -fx-background-radius: 5;
    -fx-border-color: #00CCFF11;
    -fx-border-radius: 5;
    -fx-border-width: 0.5;
}

.mfx-tooltip .container .label {
    -fx-font-size: 13;
    -fx-font-family: "Source Han Serif CN Medium";
    -fx-text-fill: #00ABD6;
}

/********************
Option button in Table View 表格操作栏
********************/

.option-button{
    -fx-border-width: 0;
    -fx-border-radius: 11%;
    -fx-background-radius:11%;
    -fx-background-color: transparent;
    -fx-content-display: graphic-only;
    -fx-min-width: 0;
}

.option-button:hover{
    -fx-background-color: #29D4FF44;
}


/********************
Progress Bar 加载条
********************/

.mfx-progress-bar .track {
    -fx-fill: #29D4FF22;
}


.mfx-progress-bar .bar1,
.mfx-progress-bar .bar2{
    -fx-fill: #29D4FF66;
}


.mfx-rectangle-toggle-node{
    -fx-background-color: #29D4FF11;
    -fx-background-radius: 0 11 11 0;
    -fx-border-width: 0;
    -fx-alignment: center-left;
    -fx-font-family: "Source Han Serif CN Medium";
    -fx-font-size: 15;
    -fx-padding: 0 0 0 42;
}

/********************
Rectangle Toggle Node 导航栏按钮
********************/

.mfx-rectangle-toggle-node:hover{
    -fx-background-color: #29D4FF33;
}

.mfx-rectangle-toggle-node:selected {
    -fx-background-color: #29D4FF55;
}

.mfx-rectangle-toggle-node .mfx-ripple-generator {
    -mfx-paused:true;
}

/********************
Scroll pane 设置滚动面板
********************/

.mfx-scroll-pane {
    -track-color: #00ABD611;
    -thumb-color: #00ABD633;
    -thumb-hover-color: #00ABD655;
}

/********************
Control button 播放控件
********************/

.control-button{
    -fx-background-radius: 24%;
    -fx-background-color: #00CCFF22;
}

.control-button:hover{
    -fx-background-color: #29D4FF66;
    -fx-background-insets: -2;
}


/********************
Slider 进度条
********************/

#volumeSlider {
    -mfx-main-color: rgb(41, 212, 255,0.84);
    -mfx-main-color-hover: rgba(41, 212, 255, 0.1);
    -mfx-main-color-pressed: rgba(41, 212, 255, 0.3);
    -mfx-disabled-color: rgb(158, 158, 158);
}

#volumeSlider .track{
    -fx-fill: #00CCFF22
}
