*{
    -font-family: "System";
    -mfx-main: #00ABD6;
    -fx-text-fill: #004354;
    -mfx-auto-clip: true;
    -fx-icon-color: #004354;
}

/********************
Text Filed
********************/

.mfx-text-field {
    -fx-font-family: -font-family;
}
.mfx-text-field .floating-text {
    -fx-text-fill: #aaa;
    -fx-font-family: -font-family;
    -fx-background-color: transparent;
}

.mfx-text-field .text-field {
    -fx-highlight-fill: #E3F9FF; /* Selected text highlight */
}


/********************
Table Rows
********************/
.mfx-table-row {
    -fx-background-color: transparent;
}

.mfx-table-row:hover {
    -fx-background-color: #29D4FF22;
}

.mfx-table-row:selected {
    -fx-background-color: #29D4FF44;
}

.mfx-table-row .mfx-ripple-generator {
    -mfx-ripple-color: #FFF6;
}

/********************
Combo Box
********************/

.mfx-combo-box .caret .mfx-ripple-generator {
    -mfx-ripple-color: rgba(41, 212, 255, 0.1);
}

.mfx-combo-box-cell {
    -mfx-hover: rgba(41, 212, 255, 0.1);
    -mfx-selected: rgba(41, 212, 255, 0.2);
    -fx-font-family: System;
}
.mfx-combo-box-cell .data-label {
    -fx-font-family: "System";
}

/********************
Slider
********************/

#playSlider {
    -mfx-main-color: rgb(41, 212, 255);
    -mfx-main-color-hover: rgba(41, 212, 255, 0.1);
    -mfx-main-color-pressed: rgba(41, 212, 255, 0.3);
    -mfx-disabled-color: rgb(158, 158, 158);
}

#playSlider .track{
    -fx-fill: derive(-mfx-main-color, 66%);
}

#playSliderPopupContent {
    -fx-background-color: rgba(194, 243, 255, 0.42);
    -fx-background-radius: 6;
}

#playSliderPopupText {
    -fx-font-family: "System";
    -fx-font-size: 13;
    -fx-text-fill: #29D4FF;
}

#playSliderPopupCaret {
    -mfx-color: rgba(194, 243, 255, 0.42);
}

/********************
Tooltip
********************/

.mfx-tooltip .container {
    -fx-background-color: rgba(255,255,255,0.95);
    -fx-background-radius: 5;
    -fx-border-color: #A3CCD6;
    -fx-border-radius: 5;
    -fx-border-width: 0.5;
}

.mfx-tooltip .container .label {
    -fx-font-size: 12;
    -fx-font-family: "System";
    -fx-text-fill: #3992A8;
}

/********************
Option button in Table View
********************/

.option-button{
    -fx-border-width: 0;
    -fx-border-radius: 11%;
    -fx-background-radius:11%;
    -fx-background-color: transparent;
    -fx-content-display: graphic-only;
    -fx-min-width: 0;
}

.option-button:hover{
    -fx-background-color: #29D4FF44;
}


/********************
Progress Bar
********************/

.mfx-progress-bar .track {
    -fx-fill: #29D4FF22;
}


.mfx-progress-bar .bar1,
.mfx-progress-bar .bar2{
    -fx-fill: #29D4FF66;
}
